body{
	background-color: #EEE;
	padding: 0;
}
#container{
	background-color: white;
	width: 95%;
	margin: auto;
}
#header {
	padding: 5px;
	height: 50px;
	width: 100%;
	float: right;
	background-color: #66ccff;
	color: white;
	text-align: center;
	z-index: 100;
	position: relative;
}
#content{
	height: 100px;
	color: black;
	width: 100%;
	padding: 10px;
	text-align: center;
	position: relative;
}
#footer{
	padding: 10px;
	clear: both;
	background-color: #EEE;
	color: black;
	text-align: center;
}